td {
  text-align: center;
  font-size: 1.5rem;
}
.available {
  background-color: #49BAB7 !important;
  color: white !important;
 }
.in-use {
  background-color: #FF0053 !important;
  color: white !important;
}
